<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>GradientAngle</key>
		<integer>270</integer>
		<key>GradientColors</key>
		<array>
			<real>11184810</real>
			<integer>5592405</integer>
		</array>
		<key>GradientLocations</key>
		<array>
			<real>0</real>
			<real>1</real>
		</array>
		<key>BackgroundName</key>
		<string>From light gray to dark gray</string>
	</dict>
	<dict>
		<key>GradientAngle</key>
		<integer>0</integer>
		<key>GradientColors</key>
		<array>
			<real>11184810</real>
			<real>5592405</real>
		</array>
		<key>GradientLocations</key>
		<array>
			<real>0</real>
			<real>1</real>
		</array>
		<key>BackgroundName</key>
		<string>From light gray to dark gray 2</string>
	</dict>
	<dict>
		<key>GradientAngle</key>
		<integer>0</integer>
		<key>GradientColors</key>
		<array>
			<integer>15772416</integer>
			<integer>11051840</integer>
			<integer>6265727</integer>
			<integer>36819</integer>
		</array>
		<key>GradientLocations</key>
		<array>
			<real>0</real>
			<real>0.33</real>
			<real>0.66</real>
			<real>1</real>
		</array>
		<key>BackgroundName</key>
		<string>From gold to blue</string>
	</dict>
	<dict>
		<key>GradientAngle</key>
		<integer>0</integer>
		<key>GradientColors</key>
		<array>
			<integer>15772416</integer>
			<integer>13990695</integer>
			<integer>12208719</integer>
			<integer>9833090</integer>
		</array>
		<key>GradientLocations</key>
		<array>
			<real>0</real>
			<real>0.33</real>
			<real>0.66</real>
			<real>1</real>
		</array>
		<key>BackgroundName</key>
		<string>From gold to purple</string>
	</dict>
	<dict>
		<key>GradientAngle</key>
		<integer>0</integer>
		<key>GradientColors</key>
		<array>
			<integer>15772416</integer>
			<integer>15503616</integer>
			<integer>15300352</integer>
			<integer>15029504</integer>
		</array>
		<key>GradientLocations</key>
		<array>
			<real>0</real>
			<real>0.33</real>
			<real>0.66</real>
			<real>1</real>
		</array>
		<key>BackgroundName</key>
		<string>From gold to orange</string>
	</dict>
	<dict>
		<key>GradientAngle</key>
		<integer>0</integer>
		<key>GradientColors</key>
		<array>
			<integer>15772416</integer>
			<integer>12562184</integer>
			<integer>9483025</integer>
			<integer>5224476</integer>
		</array>
		<key>GradientLocations</key>
		<array>
			<real>0</real>
			<real>0.33</real>
			<real>0.66</real>
			<real>1</real>
		</array>
		<key>BackgroundName</key>
		<string>From gold to green</string>
	</dict>
	<dict>
		<key>GradientAngle</key>
		<integer>45</integer>
		<key>GradientColors</key>
		<array>
			<integer>16756480</integer>
			<integer>30411</integer>
		</array>
		<key>GradientLocations</key>
		<array>
			<real>0</real>
			<real>1</real>
		</array>
		<key>BackgroundName</key>
		<string>Harald&apos;s favorite</string>
	</dict>
	<dict>
		<key>GradientAngle</key>
		<integer>0</integer>
		<key>GradientColors</key>
		<array>
			<integer>9605778</integer>
			<integer>9605778</integer>
		</array>
		<key>GradientLocations</key>
		<array>
			<real>0</real>
			<real>1</real>
		</array>
		<key>BackgroundName</key>
		<string>Just gray</string>
	</dict>
</array>
</plist>
